.btn-submitLocation {
    background: white url('../assets/271228.png') no-repeat center;
    background-size: 3vh 3vh;
    overflow: hidden;
    height: 4.5vh;
        width: 4.5vh;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    display: flex;

    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 10px 10px 10px #011140;
}

